.list {
  list-style-type: decimal;
  padding-left: 30px;
}

.list-2 {
  margin-top: 50px;
}

.list-item {
  margin-bottom: 5px;
}

.list-item:last-child {
  margin-bottom: 0;
}

.list-item a {
  font-size: 15px;
}
